[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
drf-nested-routers = "*"

[dev-packages]
django-debug-toolbar = "*"
black = "*"
isort = "*"

[requires]
python_version = "*"
